<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
      <add key="robot_starting_row" value="4" />
      <add key="robot_starting_col" value="2" />
      <add key="robot_starting_direction" value="Forward" />
      <add key="robot_movement_commands" value="LRFFRF" />

      <add key="grid_number_of_rows" value="5" />
      <add key="grid_number_of_cols" value="5" />

      <add key="grid_number_of_cols" value="5" />

      <!--This is not used right now, phase 2 would be to make obstacles configurable-->
      <add key="obstacles" value="1,1,R;2,3,S,1;3,4,H,0,4" />
      
    </appSettings>
  
</configuration>